// main colors
$bg-color-1: rgb(182, 69, 69);
$bg-color-2: rgb(89, 54, 129);

// regular colors
$color-black: #000;
$color-wight: #fff;
$color-gray: #777;
$color-dark: #333;
$color-light: #f4f4f4;
